# Please use teams as codeowners and refrain from using individuals

# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence

*       @snova-virens 

.github @sambanova-ci
pyproject.toml @sambanova-ci
setup.cfg @sambanova-ci
.pre-commit-config.yaml @sambanova-ci
.circleci @sambanova-ci
docs @sambanova-ci
