default_install_hook_types: [pre-commit, pre-push]

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v2.3.0
  hooks:
    - id: check-added-large-files
    - id: check-toml
    - id: check-yaml
    - id: check-json
    - id: end-of-file-fixer
    - id: trailing-whitespace
- repo: https://github.com/psf/black
  rev: 23.3.0
  hooks:
    - id: black
- repo: https://github.com/PyCQA/flake8
  rev: 5.0.4
  hooks:
    - id: flake8
      additional_dependencies: [flake8-docstrings]
- repo: https://github.com/PyCQA/bandit
  rev: 1.7.4
  hooks:
    - id: bandit
      exclude: ^tests/
- repo: https://github.com/PyCQA/isort
  rev: 5.12.0
  hooks:
    - id: isort
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: "v1.3.0"
    hooks:
    - id: mypy
      exclude: ^(tests\/.*|docs\/.*)$
- repo: local
  hooks:
  - id: pip-tools-compile
    name: Generate Requirements Files for Python Package
    stages: [push, manual]
    language: system
    entry: bash -c 'python .circleci/pip-compile-scripts/generate_requirements.py
              --python-version=3.9.13
              --options=build,dev,docs,tests'
    files: ^(setup\.cfg|pyproject\.toml|requirements/.*\.txt)$
    verbose: true
  - id: pytest
    name: Run Pytest (using venv if it exists, otherwise use default system)
    language: system
    entry: bash -c 'test -x "venv/bin/pytest" && venv/bin/pytest -m fast || pytest -m fast'
    always_run: true
    pass_filenames: false
