-i https://pypi.org/simple
certifi==2023.11.17; python_version >= '3.6'
charset-normalizer==3.3.2; python_full_version >= '3.7.0'
gitdb==4.0.11; python_version >= '3.7'
gitpython==3.1.40; python_version >= '3.7'
idna==3.4; python_version >= '3.5'
requests==2.31.0; python_version >= '3.7'
.
smmap==5.0.1; python_version >= '3.7'
urllib3==2.1.0; python_version >= '3.8'
